<<<<<<< HEAD
Maker House a Home

<% if @customer %>
  <h1>Welcome, <%= @customer.name %></h1>
<% else %>
  <%=erb :"sessions/new"%>
<% end %>
=======
<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/styles.css">
<h1>Maker House a Home</h1>
<img src="/house.png" height=250px width=300px ="center">
</head>
>>>>>>> 61c5715456c8127a07e9564b7ad9c7f30f0043cf
