<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/styles.css">
<h1>Maker House a Home</h1>
<img src="/house.png" height=250px width=300px ="center">
</head>

Maker House a Home

<% if @customer %>
  <h1>Welcome, <%= @customer.name %></h1>
<% else %>
  <%=erb :"sessions/new"%>
<% end %>

