body {
  text-align: center;
  background: rgb(80,101,180);
  background: linear-gradient(90deg, rgba(80,101,180,1) 19%, rgba(70,194,172,1) 100%);
}
p {
  color: black;
  font-size: 25px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 55px;
  font-family: fantasy;
}


label {
  display: inline-block;
  width: 150px;
  text-align: right;
}

input[type='submit'] {
  background-color: black;
  color: white;
  height: 50px;
  width: 120px;
}

input[type='text'] {
  border-radius: 10px;
  border: 2px solid black;
  padding: 8px
}