<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/styles.css">
<h1>Maker House a Home</h1>
</head>
  
<p>Available Properties:</p>
<ol>
<% @spaces.each do |space| %>
    <p><%= space.space_id %>. <%= space.name %>: £<%= space.price.to_f %></p>
    <% end %>
</ol>

<p>Choose the number from the list above for the property you would like:</p>

<form action='/bookings' method='post'>
Property number:
<input type='text' name='space_id'/>

<input type='submit' value='Make booking'/>
</form>
