Add available dates

<form action="/available_dates" method="post">
  <label for="choose_date">Choose a date:</label>
  <select name="date_select" id="date_select">
    <%@bnb_dates.each do |date|%>
    <option value=<%=date.date_id%>><%=date.date.strftime("%d/%m/%Y")%></option>
    <%end%>
  </select>
  <br><br>
  <input type="submit" value="Add Available Date">
</form>