
<br>
<%if @space_id%>
  <p><%=Space.find(space_id: @space_id).name%></p>
  <p>Manage available dates </p>

  <form action="/available_dates" method="post">
    <p><label for="choose_date">Choose a date:</label></p>
    <select name="date_select" id="date_select">
      <%@bnb_dates.each do |date|%>
      <option value=<%=date.date_id%>><%=date.bnbdate.strftime("%d/%m/%Y")%></option>
      <%end%>
    </select>
    <br><br>
    <input type="submit" value="Add Available Date">
  </form>

  <p><%= erb :"available_dates/index"%></p>
<%else%>
  <p>Nothing to see here... there's no space man.</p>
<%end%>

<br>
<a id="back_to_spaces" href="/spaces"> Back to Spaces </a>