Add available dates

<form action="/available_dates" method="post">
  <label for="choose_date">Choose a date:</label>
  <select name="date_select" id="date_select">
    <option value="23/02/2022">23/02/2022</option>
  </select>
  <br><br>
  <input type="submit" value="Add Available Date">
</form>